/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2013-12-01, 17:18:26
    Author     : Slishu
*/

body{
    font-family: 'Roboto Condensed', sans-serif;
    margin:0px auto;
    padding: 0px;
    background:#fefefe;
    width: 80%;
}
.textStats{
    color:#222;
    font-weight: normal;
}